body {
    background-image: url(https://i.postimg.cc/HsppbKb2/070c371143831dc8a1e881fe3958633a.jpg);
    text-align: center;
    color: maroon;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: maroon;
    color: white;
}
header {
   background-color: #000;
}
a:hover {
    background-color: maroon;
}
body {
    text-decoration-color: antiquewhite;
}
body {
    background-image: url(https://i.postimg.cc/1RVSBGYg/grey-background-charcoal-mobile-wallpaper-colorful-backdrop-presentation-135844439.jpg);
}